<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Body du Portfolio</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--Premiere partie: Accueil-->
    <div class="containerA">
        <div class="left">
            <h3><span>EBENE Moise</span></h3>
            <p class="text">Je suis <span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
            <p>Debutant en programmation Web et passionne de programmation et de reseaux en general. Je gagne en experience jour apres jour</p>
            <button class="embauche">Embauchez-moi</button>
            <button><a href=""></a>Download CV</button>
        </div>
        <div class="right">
            <img src="" alt="">
        </div>
    </div>
    
    <!--Troisieme partie: A propos-->
    <h2>A propos de moi</h2>
    <div class="containerC">
        <div class="left">
            <h3 id="intro">Introduction</h3>
            <p>Je suis plus oriente HTML, CSS et JavaScript et sur l'utilisation de divers frameworks et librairies telles que Boostrap, tailwind. J'ai egalement quelques notions en reseaux plus de serieuses competences en gestion de systemes LINUX</p>
            <button><a href=""></a>Download CV</button>
        </div>
        <div class="right">
            <div class="web">
                <h3>Front</h3>
                <div class="contenu">
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>Vue</span>
                    <span id="long">JavaScript</span>
                    <span id="long">Boostrap</span>
                    <span id="long">Tailwind</span>
                </div>
            </div>
            <div class="prog">
                <h3>Back & DB</h3>
                <div class="contenu">
                    <span>Python</span>
                    <span>Flask</span>
                    <span>MySQL</span>
                </div>
            </div>
            <div class="autres">
                    <h3>Autres</h3>
                    <div class="contenu">
                    <span>Reseaux(CCNA)</span>
                    <span>LINUX</span>
                </div>
            </div>
        </div>
    </div>
    <h2>Contactez-moi</h2>
    <!--Quatrieme partie-->
    <div class="containerD"> 
        <div class="left">
            <h3>Trouvez-moi ⤵️</h3>
            <a href="mailto:lnoblesse93@gmail.com">✉️ Email: lnoblesse93@gmail.com</a>
            <br><br>
            <a href="tel:+237 658731500">📞 +237 658 73 15 00</a>
        </div>
        <div class="right">
            <input type="text" id="name" placeholder="Nom">
            <input type="email" id="email" placeholder="Email">
            <textarea name="message" id="message" placeholder="Message"></textarea>
            <input type="submit" placeholder="Envoyer">
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>