<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list Storage</title>
    <link rel="stylesheet" href={{url_for('static', filename='css/list.css')}}>
</head>
<body>
    <div class="contenu">
    <h1>ToDo List</h1>
    <input type="text" id="tache" placeholder="Ajouter une tache">
    <button id="ajouter-tache">Ajouter</button>
    <ul id="liste-taches"></ul>
    </div>
    <script src={{ url_for('static', filename='js/list.js')}}></script>
</body>
</html>